services:
  # db:
  #   image: postgis/postgis:16-3.5-alpine
  #   container_name: zarrin_postgis_db
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data
  #   env_file:
  #     - .env
  #   networks:
  #     - zarrinnet
  #   ports:
  #     - ${POSTGRES_PORT}:5432
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 30s
  #   restart: unless-stopped
  #   # shm_size: 256mb
  db:
    build:
      context: ./postgredb
      dockerfile: ./Dockerfile
    container_name: newipc_postgis_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # Add the SECRET_KEY as PostgreSQL configuration
      PGOPTIONS: "-c app.jwt_secret=${SECRET_KEY}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - newipcnet
    ports:
      - ${POSTGRES_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  redis:
    image: redis:8.0.1-alpine
    container_name: newipc_redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    env_file:
      - .env
    networks:
      - newipcnet
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    command: >
      redis-server 
      --appendonly yes 
      --appendfsync everysec
      --maxmemory-policy allkeys-lru

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: newipc_redisinsight
    ports:
      - "8001:5540"          # Expose the RedisInsight UI
    networks:
      - newipcnet
    restart: unless-stopped
    volumes:
      - redisinsight:/data

  pgtile:
    build:
      context: ./pgtile
    container_name: newipc_pgtile
    ports:
      - "7801:7800"
    #By default, pg_tile works with a .toml file, which is copied to the container via the Dockerfile.
    #You can overwrite this using an environment variable (the variable name must be in the format <TS_(UPPERCASE_NAME)>).
    environment:
      - TS_URLBASE=http://localhost:7801/
    depends_on:
      - db
    #DATABASE_URL must be defined within the .env file.
    env_file:
      - .env 
    networks:
      - newipcnet
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -sf http://localhost:7800/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    # deploy:
    #   resources:
    #     limits:
    #       memory: 512M
    #     reservations:
    #       memory: 256M

  titiler:
    build:
      context: ./titiler
      dockerfile: Dockerfile.dev
    container_name: newipc_titiler
    ports:
      - "8008:8008"
    environment:
      - TITILER_HOST=0.0.0.0
      - TITILER_PORT=8008
      # - TITILER_ROOT_PATH=/maprasterservice
      - TITILER_ROOT_PATH=/
    command: ["/starttitiler.sh"]
    depends_on:
      - db
    env_file:
      - .env 
    networks:
      - newipcnet
    healthcheck:
      test: ["CMD", "sh", "-c", "curl", "-f", "-s", "http://${TITILER_HOST}:${TITILER_PORT}${TITILER_ROOT_PATH}" , "||" , "exit" , "1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    volumes:
      - ${RASTER_ROOT}:/app/raster


  # web:
  #   build:
  #     context: ./backend
  #     dockerfile: ./Dockerfile.dev
  #   container_name: newipc_django_web
  #   user: "${UID}:${GID}"
  #   command: python backend/manage.py runserver 0.0.0.0:8000
  #   volumes:
  #     # - ./backend:/code
  #     - .:/code
  #     - ./.git:/code/.git:ro
  #   ports:
  #     - "8000:8000"
  #   env_file:
  #     - .env
  #   networks:
  #     - newipcnet
  #   depends_on:
  #     - db
  #     - redis


networks:
  newipcnet:
    name: newipcnet
    driver: bridge

volumes:
  pgdata:
    driver: local
  redis_data:
    driver: local
  redisinsight:
    driver: local

